//Variables
$borderColor: #008000;

@font-face {
  font-family: "BencoLeng";
  src: local("BencoLeng"),
    url("./../fonts/bencoleng-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html body {
  font-family: BencoLeng;
}

hr {
  border-top: 1px solid red;
}

strong {
  color: $borderColor;
}

.image {
  height: 100%;
  width: 100%;
}

.quarterImage {
  height: 25%;
  width: 25%;
}

.w85 {
  width: 85%;
}

.w50 {
  width: 50%;
}

.greenBorder {
  border-style: solid;
  border-width: 2px;
  color: $borderColor;
}

.rightBorder {
  border-right: 2px solid $borderColor;
}

.errorLetters {
  font-size: 12px;
  color: red;
}

.hoverBorder:hover {
  border-style: solid;
  border-width: 2px;
  color: $borderColor;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTROjnvKxVKWvQLnj1w8ZBAH6RlpdGBTvpZwrDj7G8OjKjB_C-L");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

//Media Queries

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .rightBorder {
    border-right: 0px solid black;
  }

  .quarterImage {
    height: 35%;
    width: 35%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .rightBorder {
    border-right: 0px solid black;
  }
  .quarterImage {
    height: 50%;
    width: 50%;
  }
}
