//Variables
$greenDeepColor: #008000;

@font-face {
  font-family: "BencoLeng";
  src: local("BencoLeng"),
    url("./../fonts/bencoleng-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

p {
  color: black;
  letter-spacing: 0.4px;
}

html body {
  font-family: BencoLeng;
  overflow-x: hidden;
}

.divLines {
  display: inline-block;
  height: 17px;
  width: 50px;
  background-image: url("http://www.yobits.mx/images/division-lineas.png");
}

strong {
  color: $greenDeepColor;
}

.highlight {
  color: $greenDeepColor;
}

h1 {
  color: $greenDeepColor;
  padding-top: 2rem;
}

h2,
h3 {
  color: $greenDeepColor;
  padding-top: 0.3rem;
}

h1:hover,
h2:hover {
  color: $greenDeepColor;
}

.image {
  height: 100%;
  width: 100%;
}

.quarterImage {
  height: 25%;
  width: 25%;
}

.w85 {
  width: 85%;
}

.w50 {
  width: 50%;
}

.greenBorder {
  border-style: solid;
  border-width: 2px;
  color: $greenDeepColor;
}

.rightBorder {
  border-right: 2px solid $greenDeepColor;
}

.botBorder {
  border-bottom: 2px solid $greenDeepColor;
}

.errorLetters {
  font-size: 12px;
  color: red;
}

.hoverBorder:hover {
  border-style: solid;
  border-width: 2px;
  color: $greenDeepColor;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://i.imgur.com/w54p7uo.png");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

//Media Queries

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .rightBorder {
    border-right: 0px solid black;
  }

  .quarterImage {
    height: 35%;
    width: 35%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .rightBorder {
    border-right: 0px solid black;
  }
  .quarterImage {
    height: 50%;
    width: 50%;
  }
}
